---
import Layout from '../layouts/Layout.astro';
import 
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="w-full mx-auto lg:w-[740px] py-44 flex justify-between">
			<div>
				<h1 class="text-black text-xl font-bold"> Hola! Soy Lucia. </h1>
				<h2 class="text-2x1 opacity-80 text-wrap"> Desarrolladora web, Diseñadora y Artista Visual </h2>
				<ul>
					<li>
						<a href="/proyectos"> Ver mis proyectos </a>
					</li>
					<li>
						<a href="https://www.linkedin.com/in/luciaperezalberca/" target="_blank"> 
							<img src="" alt="">
							LinkedIn 
						</a>
					</li>
				</ul>
			</div>
			<img 
				class="w-80 h-80"
				src="https://img.freepik.com/vector-gratis/espacio-trabajo-disenador-grafico_23-2148117504.jpg?t=st=1713554819~exp=1713558419~hmac=e3e4404c69065eac1d831440ffd43333ba16b703a1bd316791c200b9b3ff0d7e&w=740" 
				alt="foto de Lucia"
			> 
		</section>	
	</main>
</Layout>