---
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../components/SectionContainer.astro';
import DesignIcon from '../components/icons/Design.astro';
import ArtIcon from '../components/icons/Art.astro';
import ProjectsWeb from '../components/ProjectsWeb.astro';
import ProjectRG from '../components/ProjectRG.astro';
import About from '../components/About.astro';
import CarouselArt from '../components/CarouselArt.astro';
import Contact from '../components/Contact.astro';
---

<Layout 
	title="Portfolio de Lucia Perez Alberca - Diseñadora, Desarrolladora Web y Artista Visual"
	description="Portfolio de Lucia Perez Alberca. Experiencia en diseño, desarrollo web y arte.">
	<main>
		<section class="relative bg-cover bg-center bg-no-repeat h-[100vh] xl:h-screen w-full py-28 md:py-60 px-10 flex items-center mb-20" style="background-image: url('/images/ilustracion-home.jpg');">
  
  			<div class="absolute inset-0 bg-white/50 backdrop-blur-xs z-0"></div>
  			<div class="relative z-10 max-w-5xl w-full text-black text-center md:text-start flex flex-col md:px-40 gap-4 md:items-start items-center">
    				<h1 class="text-3xl sm:text-4xl md:text-5xl font-bold">Diseño y Comunicación, orientado a personas</h1>
    				<h2 class="mt-3 mb-5 text-lg sm:text-xl md:text-2xl tracking-wide">Experiencia en clientes, gestión y proyectos creativos</h2>

    				<div class="flex flex-wrap items-center gap-4">
      					<a href="/#diseno" class="scroll-mt-24 border border-black text-black text-sm font-medium px-8 py-2 uppercase tracking-widest bg-white/80 hover:bg-[#fce6e3] hover:text-black transition-all duration-300">
        					Conocé mi trabajo
      					</a>
    				</div>
  			</div>
		</section>

		<div class="mt-60 mb-60">
			<div class="flex flex-row justify-center text-2xl text-center scroll-mt-24" id="diseno">
				<h2 class="flex flex-row px-10 gap-x-2"> <DesignIcon /> Diseño UX/UI de E-commerce RG Ramos Generales </h2>
			</div>
			<ProjectRG />
		</div>

		

		<!-- <div class="max-w-3xl mx-auto mt-6 mb-24 px-4 text-center text-gray-700 leading-relaxed">
  			<p> 
				Este proyecto consistió en el rediseño completo del sitio web de una marca de gran trayectoria, 
    				con el objetivo de modernizar su imagen digital, mejorar la experiencia del usuario y optimizar la navegación en distintos dispositivos. 
			</p>
  			<p class="mt-4">
    				A través de una auditoría visual y funcional, detecté varios puntos críticos que impactaban negativamente en la usabilidad del sitio.
    				El resultado fue una propuesta más clara, estética y alineada con los valores de la marca.
  			</p>
		</div> -->

		<div id="desarrollo" class="scroll-mt-24">
			<SectionContainer> 
				<ProjectsWeb />
			</SectionContainer>
		</div>

		<div class="mb-60 mt-60 scroll-mt-24" id="arte">
			<div class="flex justify-center items-center gap-x-2 text-2xl mt-20 mb-5">
				<ArtIcon />
				Arte
			</div>
			<CarouselArt/>
		</div>
		<About />
		<Contact />	
	</main>
</Layout>