<article class="mt-10" id="sobre-mi">
        
        <div style="background-image: url('images/profile.webp')" class="bg-cover bg-right min-h-screen  flex flex-col justify-center items-center p-10 md:text-center text-pretty opacity-70">
                <h2 class="font-bold text-2xl p-5 mb-7 text-center"> Sobre Mí </h2>
                <div class="max-w-80 sm:max-w-96 md:max-w-80 font-semibold text-md tracking-widest">
                        <p class="mb-3 bg-gray-300/20 p-5 rounded-lg">
                                ¡Hola! Soy Lucia. Desarrolladora web, Diseñadora y Artista visual. Con más de 10 años de experiencia en ventas y edición de fotografía, combinado con mis estudios especializados en desarrollo Frontend y UX, cuento con las habilidades técnicas para crear experiencias web únicas y atractivas.
                        </p>
                        <p class="mb-3 bg-gray-300/20 p-5 rounded-lg">
                                Mi enfoque se centra en la estética y la usabilidad. Estoy emocionada por seguir creciendo en esta industria dinámica y continuar realizando proyectos creativos que marquen la diferencia.
                        </p>
                        <p class="mb-10 bg-gray-300/20 p-5 rounded-lg">
                                ¡Gracias por visitar mi portfolio!
                        </p>
                </div>
        </div>
</article>