<article class="mt-10" id="origen">
        <div class="relative bg-cover bg-right bg-no-repeat min-h-screen flex items-center justify-center px-6 py-20" style="background-image: url('images/profile.webp');">
    
                <!-- FONDO OVERLAY -->
                <div class="absolute inset-0 bg-white/70 backdrop-blur-sm"></div>
                <div class="relative z-10 max-w-4xl w-full bg-white/90 text-black rounded-xl p-6 sm:p-10 shadow-md">
                        <div class="space-y-6 text-base leading-relaxed tracking-wide text-justify">
                                <p>
                                        Hola de nuevo! Qué lindo que me quieras conocer un poquito más, con gusto te comparto mi historia.
                                </p>
                                <p>
                                        Desde muy pequeña, mi camino inició con un pincel en la mano. Siempre observadora y creativa, formé una fuerte conexión con el arte y la estética. Me considero una persona autodidacta, me gusta aprender cosas nuevas y perfeccionarme continuamente. La mayor parte de mis conocimientos los adquirí de esa forma, complementándolos con formación profesional.
                                </p>
                                <p>
                                        A lo largo de mi carrera trabajé diez años en atención al cliente y ventas, lo que me dio herramientas sólidas para entender las necesidades de las personas y cómo comunicarme de manera efectiva. Por aquel entonces encontré mi pasión por el diseño; descubrí que no solo podía crear cosas bellas, también podía mejorar la interacción con las personas. Decidí complementar mi formación con desarrollo Frontend y diseño UX.
                                </p>
                                <p>
                                        Hoy me dedico a realizar proyectos de rediseño web y desarrollo, mientras —por supuesto— sigo produciendo arte. Me interesa formar parte de proyectos ambiciosos donde pueda aportar diseño, estética, pensamiento lógico y una comunicación clara.
                                </p>
                                <p class="text-start">
                                        Si te interesa mi perfil, ¡conversemos!.
                                </p>
                        </div>
                </div>
        </div>
</article>