<article class="mt-10" id="origen">
        <div class="relative bg-cover bg-right bg-no-repeat min-h-screen flex items-center justify-center px-6 py-20" style="background-image: url('images/profile.webp');">
    
                <!-- FONDO OVERLAY -->
                <div class="absolute inset-0 bg-white/70 backdrop-blur-sm"></div>
                <div class="relative z-10 max-w-4xl w-full bg-white/90 text-black rounded-xl p-6 sm:p-10 shadow-md">
                        <div class="space-y-6 text-base leading-relaxed tracking-wide text-justify">
                                <p>
                                        Soy Lucia Perez Alberca, diseñadora y desarrolladora web con una fuerte orientación estética y más de 10 años de experiencia en atención al cliente, ventas y comunicación visual.
                                </p>
                                <p>
                                        Mi formación combina arte, diseño y desarrollo frontend. Esta mezcla me permite crear productos digitales visualmente atractivos, funcionales y centrados en el usuario.
                                </p>
                                <p>
                                        A lo largo de mi carrera, desarrollé la capacidad de comprender las necesidades reales de las personas y traducirlas en soluciones visuales y técnicas. Hoy me dedico a proyectos de rediseño web, desarrollo y comunicación digital.
                                </p>
                                <p>
                                        Me interesa formar parte de equipos que valoren el detalle, la empatía y la claridad en los procesos, aunque también estoy acostumbrada a trabajar de forma independiente, gestionando mis propios proyectos con autonomía y compromiso.
                                </p>
                                <p class="text-start">
                                        Si te interesa mi perfil, ¡conversemos!.
                                </p>
                        </div>
                </div>
        </div>
</article>