<article class="bg-gray-950/10 mt-10">
        <h2 class="font-bold text-2xl mb-10 pt-20 text-center"> Sobre Mí </h2>
        <div class="flex flex-col md:flex-row justify-center items-center px-20">
                
                <p class="mb-5 sm:w-3/4">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt pariatur iusto, labore ab dolore nemo adipisci a omnis maxime itaque iure amet soluta perferendis! Nam ea error tempora laudantium explicabo?
                </p>
                <p class="mb-5 sm:w-3/4">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem porro quidem expedita beatae laboriosam numquam, molestiae fugit quibusdam quis quos doloribus tenetur sunt magnam obcaecati nostrum velit saepe corrupti sint?
                </p>
                <p class="mb-10 sm:w-3/4">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea placeat tempore asperiores fugiat quasi perspiciatis non aliquid magnam deserunt rerum sed, dolorum iusto. Exercitationem qui soluta voluptatum a, iusto eius.
                </p>
                <img src="/images/profile.webp" alt="Foto de Lucia" class="w-80 rounded-lg opacity-80 mb-20 sm:w-3/4">
        </div>
</article>