---
import ArrowIcon from '../components/icons/Arrow.astro';
---

<a href="/" class="fixed bottom-5 right-10 p-2 drop-shadow-md border text-white rounded-full bg-gray-200 hover:bg-gray-300">
        <ArrowIcon />
</a>