---
import WhatsAppIcon from '../components/icons/WhatsApp.astro';
---

<a 
        href="https://wa.me/+5491128859654" 
        target="_blank" rel="noopener noreferrer" 
        class="fixed bottom-4 right-4 sm:bottom-6 sm:right-6 p-1 rounded-full bg-transparent text-black transition-all duration-300 hover:scale-110 z-50"
>
        <WhatsAppIcon class="size-10 sm:size-12 bg-green-200 hover:bg-green-300 text-green-700 rounded-full p-1 sm:p-1.5" />
</a>
