---
const currentYear = new Date().getFullYear()
import LinkedInIcon from "./icons/LinkedIn.astro";
import SendEmailIcon from "./icons/SendEmail.astro";
import WhatsAppIcon from "./icons/WhatsApp.astro";
import InstagramIcon from "./icons/Instagram.astro";
import GitHubIcon from "./icons/GitHub.astro";
---

<footer class="py-20 mt-10 flex flex-col justify-center items-center">
        <div>
                <ul class="flex justify-center items-center gap-3">
                        <li> 
                                <a 
                                        href="mailto:luciaperezalberca@gmail.com" 
                                        target="_blank"
                                        rel="noopener noreferrer"
                                > 
                                        <SendEmailIcon class="size-8 hover:opacity-50 hover:scale-110" /> 
                                </a> 
                        </li>
                        <li> 
                                <a 
                                        href="https://wa.me/1128859654" 
                                        target="_blank"
                                        rel="noopener noreferrer"
                                > 
                                        <WhatsAppIcon class="size-8 hover:opacity-50 hover:scale-110" /> 
                                </a> 
                        </li>
                        <li> 
                                <a 
                                        href="https://www.linkedin.com/in/luciaperezalberca/" 
                                        target="_blank"
                                        rel="noopener noreferrer"
                                > 
                                        <LinkedInIcon class="size-8 hover:opacity-50 hover:scale-110" /> 
                                </a> 
                        </li>
                        <li> 
                                <a 
                                        href="https://github.com/luciaperezalberca" 
                                        target="_blank"
                                        rel="noopener noreferrer"
                                > 
                                        <GitHubIcon class="size-8 hover:opacity-50 hover:scale-110" /> 
                                </a> 
                        </li>
                        <li> 
                                <a 
                                        href="https://www.instagram.com/luciaperezalberca/" 
                                        target="_blank"
                                        rel="noopener noreferrer"
                                > 
                                        <InstagramIcon class="size-8 hover:opacity-50 hover:scale-110" /> 
                                </a> 
                        </li>
                </ul>
        </div>
        <p class="mt-10 mb-1">
                Desarrollado por Lucia Perez Alberca.
        </p>
        <span class="text-wrap">
                &#169; {currentYear}. 
                <a 
                        href="https://github.com/luciaperezalberca/portfolio-astro" 
                        target="_blank" 
                        rel="noopener noreferrer" 
                        class="font-bold hover:opacity-50"
                > 
                        Astro & Tailwind CSS Portfolio. 
                </a>
        </span>
</footer>