---
const currentYear = new Date().getFullYear()
import LinkedInIcon from "./icons/LinkedIn.astro";
import SendEmailIcon from "./icons/SendEmail.astro";
import WhatsAppIcon from "./icons/WhatsApp.astro";
import InstagramIcon from "./icons/Instagram.astro";
import GitHubIcon from "./icons/GitHub.astro";
import ArrowIcon from './icons/Arrow.astro';
---

<footer class="py-20 flex flex-col justify-center items-center">
        <div class="mb-5">
                <a 
                        href="#top" 
                        class="border px-2 py-1 bg-gray-200/80 rounded-xl flex justify-center items-center gap-1 text-black text-sm hover:text-gray-500 hover:scale-110"
                        aria-label="Volver arriba"
                >
                        Volver arriba <ArrowIcon/>
                </a>
        </div>
        <div>
                <ul class="flex justify-center items-center gap-3">
                        <li> 
                                <a 
                                        href="mailto:luciaperezalberca@gmail.com" 
                                        target="_blank"
                                        rel="noopener noreferrer"
                                > 
                                        <SendEmailIcon class="size-8 hover:text-red-800 hover:scale-110" /> 
                                </a> 
                        </li>
                        <li> 
                                <a 
                                        href="https://wa.me/+5491128859654" 
                                        target="_blank"
                                        rel="noopener noreferrer"
                                > 
                                        <WhatsAppIcon class="size-8 hover:text-green-700 hover:scale-110" /> 
                                </a> 
                        </li>
                        <li> 
                                <a 
                                        href="https://www.linkedin.com/in/luciaperezalberca/" 
                                        target="_blank"
                                        rel="noopener noreferrer"
                                > 
                                        <LinkedInIcon class="size-8 hover:text-blue-700 hover:scale-110" /> 
                                </a> 
                        </li>
                        <li> 
                                <a 
                                        href="https://github.com/luciaperezalberca" 
                                        target="_blank"
                                        rel="noopener noreferrer"
                                > 
                                        <GitHubIcon class="size-8 hover:text-gray-400 hover:scale-110" /> 
                                </a> 
                        </li>
                        <li> 
                                <a 
                                        href="https://www.instagram.com/luciaperezalberca/" 
                                        target="_blank"
                                        rel="noopener noreferrer"
                                > 
                                        <InstagramIcon class="size-8 hover:text-pink-700 hover:scale-110" /> 
                                </a> 
                        </li>
                </ul>
        </div>
        <p class="mt-10 mb-1">
                Diseñado y desarrollado por Lucia Perez Alberca.
        </p>
        <span class="text-wrap">
                &#169; {currentYear}. 
                <a 
                        href="https://github.com/luciaperezalberca/portfolio-astro" 
                        target="_blank" 
                        rel="noopener noreferrer" 
                        class="font-bold hover:opacity-50"
                > 
                        Astro & TailwindCSS Portfolio. 
                </a>
        </span>
</footer>