<header class="flex flex-col justify-center items-center py-10">
        <img
                class="w-auto h-12 mb-6 md:h-14 lg:h-16 lg:mb-8" 
                src="../../public/images/logo-black.png" 
                alt="imagen de logo"/>
        <nav class="text-md flex flex-row gap-x-5 opacity-80">
                <a href="#proyectos" class="hover:opacity-50 hover:scale-110"> Proyectos </a>
                <a href="#sobre-mi" class="hover:opacity-50 hover:scale-110"> Sobre mí </a>
                <a href="#contacto" class="hover:opacity-50 hover:scale-110"> Contacto </a>
                dark mode
        </nav>
</header>