<header class="sticky top-0 bg-[#f9f6ef]">
        <nav class="text-md flex flex-col sm:flex-row justify-around items-center gap-5 opacity-80 mt-5 md:mt-7 sm:mb-10 lg:mb-0">
                <a href="/">
                        <img
                                class="w-auto h-12 md:h-14 lg:h-16 lg:mb-8" 
                                src="/images/logo-black.png" 
                                alt="imagen de logo"
                        />
                </a>
                <div class="flex gap-x-5 lg:gap-x-10 text-md mb-5 sm:mt-4 sm:mb-2 lg:mt-0">
                        <a href="/#proyectos" class="hover:opacity-50 hover:scale-110"> Proyectos </a>
                        <a href="/#sobre-mi" class="hover:opacity-50 hover:scale-110"> Sobre mí </a>
                        <a href="https://wa.me/+5491128859654" target="_blank" rel="noopener noreferrer" class="hover:opacity-50 hover:scale-110"> Contacto </a>
                </div>
        </nav>
</header>