<header>
        <nav class="text-md flex flex-col sm:flex-row justify-around items-center gap-5 opacity-80 mt-10 sm:mb-10">
                <img
                class="w-auto h-12 md:h-14 lg:h-16 lg:mb-8" 
                src="../../public/images/logo-black.png" 
                alt="imagen de logo"/>
                <div class="flex gap-x-5 lg:gap-x-10 text-md mb-5">
                        <a href="/#proyectos" class="hover:opacity-50 hover:scale-110"> Proyectos </a>
                        <a href="/#sobre-mi" class="hover:opacity-50 hover:scale-110"> Sobre mí </a>
                        <a href="/#contacto" class="hover:opacity-50 hover:scale-110"> Contacto </a>
                </div>
                
        </nav>
</header>