---
const PROJECTSDESIGN = [
        {
                title: 'Branding',
                description: 'Intervenci贸n de logo para colecci贸n de Primavera. Logo, tarjetas personales, banner web e historia para redes sociales.',
                image: '/images/collection-spring.png',
        },
        {
                title: 'Kit Colecci贸n',
                description: 'Conjunto para colecci贸n tendencia. Tarjetas personales combinables, banner web y publicidad para redes sociales.',
                image: '/images/collection-color.png',
        },
]
---

{
        PROJECTSDESIGN.map(({ image, title, description }) => (
                <div class="flex flex-col md:flex-row justify-center items-center mb-10 bg-gray-200/70 p-10 rounded-lg md:gap-20">
                        <img src={image} alt={title} class="w-full sm:w-3/4 md:w-3/6 rounded-lg"/>
                        <div class="max-w-60 lg:max-w-80 text-pretty text-center ">
                                <h3 class="mt-5 mb-2 text-lg font-bold">{title}</h3>
                                <p class="text-sm lg:text-md">{description}</p>
                        </div>
                </div>
        ))
}