---
const PROJECTSDESIGN = [
        {
                title: 'Branding',
                description: 'Intervenci贸n de logo de marca para colecci贸n de Primavera. Logo, tarjetas personales del local, banner web, historia para Instagram y extras para publicaciones.',
                image: '/images/collection-spring.png',
        },
        {
                title: 'New Collection',
                description: 'Intervenci贸n de logo de marca para colecci贸n de Primavera. Logo, tarjetas personales del local, banner web, historia para Instagram y extras para publicaciones.',
                image: '/images/collection-color.png',
        },
]
---

{
        PROJECTSDESIGN.map(({ image, title, description }) => (
                <div class="flex flex-col md:flex-row justify-center items-center bg-transparent">
                        <img src={image} alt={title} class="w-96 rounded-lg lg:w-3/6"/>
                        <div class="text-center max-w-96 md:pl-12">
                                <h3 class="mt-5 mb-2 text-lg font-bold">{title}</h3>
                                <p class="text-sm lg:text-md">{description}</p>
                        </div>
                </div>
        ))
}